
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.card {

    height: 100%;
    width: 100%;
    border: none !important;
    
  
  }

  .checkout a{
    text-decoration: none;
    font-family: 'montserrat';
    background-color: #E88030;
    color: #fff;

  }
  
  .popup{
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E88030;
    color: #FCFAF7;
    padding: 0.5em 2em;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    animation: fadeOut 1s ease-in-out forwards;
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  @media(max-width:600px){
    .popup{
      padding: 0.5em 1.5em;
      font-size: 0.5em;
      top: 6%;
  }}
  
   .card-img-top {
    height: 450px;
    width: auto;
    color: #FCFAF7;
    border-radius: 12px 12px 12px 12px!important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  } 

  .card-text {
    font-size: 1rem;
    color: #E88030;
    margin-bottom: 3px;
  }

  .card-title {
    font-size: 1em;
    margin-bottom: 8px;
    font-family: 'montserrat';
    font-weight: 600;
    margin: 1em 0 0 0!important;
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
  }


  .card-body {
    padding: 0!important;
  }
  
  
  
  @media (max-width:1240px){
    .card-img-top {
      height: 350px;
      width: auto;
      
    } 
  }

  @media (max-width:900px){
    .card-img-top {
      height: 280px;
      width: auto;
      
    } 
  }

  
  @media (max-width:750px){
    .card-img-top {
      height: 350px;
      width: 200px
      
    } 
  }

  @media (max-width:600px){
    .card-img-top {
      height: 200px;
      width: auto;
      
    } 
  }

